<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="robotModule">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <label class="navbar-brand" ui-sref="roboHome">Robot Controller</label>
                
                @*@Html.ActionLink("RobotController", "Index", "Grid", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Grid", "Index", "Grid", new { area = "" }, null)</li>
                </ul>
            </div>*@
        </div>
    </div>
    <div class="container body-content" @*ng-app="robotModule"*@>
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/UI/config/robotApp.js"></script>
    <script src="~/UI/config/route.js"></script>
    <script src="~/UI/services/grid-data-service.js"></script>
    <script src="~/UI/grid/gridCtrl.js"></script>    
    <script src="~/UI/gridSetup/gridSetupCtrl.js"></script>
    <script src="~/UI/gridSetup/gridSetupAddObstacleCtrl.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
